extends layout.pug

block content
  main.container
    h1.page-title Some awesome note
    p.body
      | shdgfhdsf hdsgfhsdgfhsd 
      | shdgfhdsf hdsgfhsdgfhsd 
      | shdgfhdsf hdsgfhsdgfhsd 
      | shdgfhdsf hdsgfhsdgfhsd 
      | shdgfhdsf hdsgfhsdgfhsd 
      | shdgfhdsf hdsgfhsdgfhsd 